#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
  margin: 2em 0em;
  background-color: rgb(63, 33, 63);
  border-radius: 15px 50px;
  box-shadow: 0px 0px 10px 10px rgb(24, 24, 24);
}

.header-card {
  border-radius: 15px 40px;
  box-shadow: 0px 0px 2px 2px rgb(24, 24, 24);
  padding: 10px;
  margin-bottom: 30px;
  background-color: rgb(1, 1, 129);
}

button, .back, .delete {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #65e465;
  cursor: pointer;
  transition: border-color 0.25s;
  box-shadow: 0px 0px 2px 2px rgb(24, 24, 24);
}

.back {
  margin: "0px 5px";
  background-color: rgb(215, 0, 0);
  color: black;
}

.delete {
  margin: 5px;
  background-color: black;
  color: white;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.tracker-box {
  display: grid;
  grid-template-rows: repeat(7, 20px);
  grid-auto-flow: column;
  grid-template-columns: repeat(auto-fit, 20px);
  max-height: 149px;
}

.entry-box {
  border: 1px solid white;
  width: 20px;
  height: 20px;
  font-size: small;
  margin: 0;
}

.form-card {
  border-radius: 15px 50px;
  background-color: rgb(63, 33, 63);
  box-shadow: 0px 0px 10px 10px rgb(24, 24, 24);
  padding: 20px;
}

.popup {
  color: white;
  background-color: red;
  position: absolute;
  z-index: 10;
}